:root {
  --main-white-color: white;
  --main-black-color: black;
}

body{
  background-color: #eaeaea;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.static {
  position: static;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#carousel h1{
  font-size: 10vmin;

}

.owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  background-color: lightgray;
}

.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}

.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}

.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}

.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

/* owl nav */
.owl-prev span, .owl-next span {
  color: #FFF;
  font-size: 14px;
  
}

.owl-next,.owl-prev{
  display: none !important;
}

.owl-carousel:hover .owl-prev{
  display: block !important;
}

.owl-carousel:hover .owl-next{
  display: block !important;
}

.owl-prev:hover, 
.owl-next:hover {
  background-color: rgb(177, 8, 8) !important;
  color: #cacaca;
}

.owl-prev, .owl-next {
	position: absolute;
  background-color: rgb(213, 21, 21) !important;
  width: 50px;
  height:50px;
  border-radius:0px !important;
}


.owl-prev {
	left: 7px;
}

.owl-next {
	right: 7px;
}

/* removing blue outline from buttons */
button:focus, button:active {
   outline: none;
}

.owl-carousel a{
  background-color: rgb(213, 21, 21);
  padding:10px;
  height: 40px;
  width: 140px;
  font-size: 14px;
  border-radius: 0px;
}


.owl-theme .owl-nav {
  margin-top: 0px;
}


@media only screen and (min-width: 768px) {
  .owl-prev, .owl-next {
    top:40%;
  }
}

@media only screen and (max-width: 768px) {
  .owl-carousel .owl-prev, .owl-next {
    bottom: 10px;
    margin-bottom: 10px;
  }

  #Kompetensi i.fas {
    width: 80px !important;
    height: 80px !important;
  
  }

  #kepsek .col-lg-6{
    margin-top: 1rem;
  }
}


#description{
  max-height: 100px; 
}


#features{
  background-color: rgb(213, 21, 21) !important;
  z-index: 999;
  color: white;
  padding:24px;
}


@media only screen and (min-width: 993px) {

  #features .col-lg-4{
    border-right: 2px solid white;
  }

  #features{
    position: relative;
    top: -80px;
  }

  #features-container{
    height: 40px;
  }

  section#Kompetensi{
    margin-top: 40px !important;
  
  }
    
}



#Kompetensi h6{

  font-size: 14px;
  
}

#Kompetensi .items{
  font-size: 48px;
  padding: 24px;
}
#Kompetensi i{
  margin-bottom: 10px;
  
}

#Kompetensi i.fas {
  text-align: center;
  width: 120px;
  height: 120px;
  background-color: rgb(213, 21, 21);
  display: inline-block;
  border-radius: 100%;
  align-items: center;
  color: white;
  padding:15% 0px;
}

#kepsek{
  background-color:rgb(213, 21, 21);
  padding: 24px 24px 24px 0px;
  color: white;
}


#kepsek img{
  width: 100%;
  height: 100%;
  max-height:313px;
  max-width:500px;
  margin: 8px 0px;  
}



.text-overflow{
  max-height: 500px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-title::after {
  background-color: #eeb441; 
  bottom: 0;
  content: '';
  display: block;
  height: 5px;
  left: 50%;
  position: absolute;
  transform: translate(-50%,0);
  width: 300px;
}

#statistik{
  background-color: rgb(213, 21, 21);
  color: white;
}

#statistik i{
  font-size: 60px;
  padding: 10px 10px;
}
#statistik .col-4{
  margin:0px 24px;
}

@media only screen and (max-width: 767px) {
  #statistik .items{
    padding: 12px;
  }
}


.lomba{
  background-color: rgb(213, 21, 21);
}

.fasilitas .col-md-6,.lomba .col-md-6,.event .col-md-6{
  padding-top: 30px; 
}

.reviews h2,.fasilitas h2,.event h2,.lomba h2{
  text-align: center;
}

.reviews h2,.fasilitas h2::after,.event h2::after,.lomba h2::after{
  margin-top: 3px;
  content: '';
  width: 200px;
  display: block;
  border-bottom: 5px solid #d4a038;
}

.cards {
    width: 100%;
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  top: 0;
  
}
.card-item {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: 100%;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.card__category {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 4vmin;
}

.card__by {
    font-size: 12px;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card-item:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card-item:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card-item:hover .card__info-hover {
    opacity: 1;
}

a{
  text-decoration: underline;
  margin-bottom:-30px;
}


.d-flex.justify-content-end{ 
  margin-bottom: -20px !important;
}

.bg-footer {
  background-color: #000000;
  padding: 50px 0 30px;
  border-top: 5px solid #d4a038;
}

.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #acacac;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: rgb(213, 21, 21);
}

.contact-info {
  color: #acacac;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}

.instagram {
  background-color: #d82a80;
  color: #ffffff;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 50px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 2px solid #d4a038;
}

.breadcrumb{
  position: relative;
  top:-25px;
  background-color: rgb(213, 21, 21);
  color: white !important;
}

.breadcrumb a{
  color: white;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: #d4a038;
}

.breadcrumb-item.active {
  color: #cacaca;
}

.card-header, .card-footer{
  background-color: rgb(213, 21, 21);
  color: white;
  border: none; 
}

.card{
  border-radius: 0px;
}

a {
  color:black;
  text-decoration: none;
  margin-bottom: 0px;
}


a:hover{
  color: #d4a038;
  -webkit-text-decoration-color: black; /* safari still uses vendor prefix */
  text-decoration-color: black;
}

.card li{
  margin-bottom:10px;
}
.card .btn{
  background-color: rgb(213, 21, 21);
  border: none;
  border-radius: 0px;
  padding: 10px;
}

.card-header:first-child,.card-footer{
  border-radius: 0px;
}

.card-footer:last-child {
  border-radius: 0px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: rgb(213, 21, 21);
}
.blog-card:hover .photo {
  -webkit-transform: scale(1.3) rotate(3deg);
          transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left .2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: .9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f009";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}

.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.5rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: rgb(213, 21, 21);
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: rgb(213, 21, 21);
  width: 100%;
  top: -0.75rem;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

a:hover{
  text-decoration-line: underline;
}

.bg-white{
  background-color: white;
  padding:0px 24px;
}

.header-img{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.owl-slide-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #fff;
  background: rgba(0,0,0,.4);
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar{
  width: 6px;
  background-color: #cacaca;

}

::-webkit-scrollbar-track{
  background-color: transparent;
  inset: 0 0 6px rgba(0,0,0,0,.3);
}

::-webkit-scrollbar-thumb{
  background-color: #000000;
}
