@import url(../../vendor/navbar/classy-nav.css);

ul,ol {
  margin: 0; 
}

ul li,ol li {
  list-style: none; 
}

/* Header Area CSS */
.header-area {
  background-color: white!important;
  position: relative; 
  z-index: 100;
  width: 100%;
  height: 125px; 
  border-bottom: 4px solid rgb(213, 21, 21);
}
.header-area .top-header {
  width: 100%;
  height: 95px; 
}
.header-area .top-header .login-content a {
  display: inline-block;
  font-weight: 600; 
}
.header-area .top-header .login-content a:hover {
  color: rgb(213, 21, 21); 
}
.header-area .academy-main-menu {
  position: absolute;
  width: 100%;
  height: 85px;
  background-color: transparent;
  top: 95px;
  z-index: 100;
  left: 0;
  right: 0; 
}
.header-area .academy-main-menu .classy-nav-container {
  background-color: transparent; 
}
.header-area .academy-main-menu .classy-navbar {
  background-color: #f5f7fa;
  height: 85px;
  padding: 0; 
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .academy-main-menu .classy-navbar {
    padding: 0;
    padding-left: 2em; 
  } 
}
@media only screen and (max-width: 767px) {
.header-area .academy-main-menu .classy-navbar {
    padding: 0;
    padding-left: 2em; 
  } 
}
.header-area .academy-main-menu .classy-navbar .classynav ul li a {
  font-weight: 700;
  text-transform: uppercase; 
}
.header-area .academy-main-menu .classy-navbar .classynav ul li a:hover, .header-area .academy-main-menu .classy-navbar .classynav ul li a:focus {
  color: rgb(213, 21, 21); 
}
.header-area .academy-main-menu .classynav {
  padding-left: 2em; 
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .academy-main-menu .classynav {
    padding-left: 1em; 
  } 
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .academy-main-menu .classynav {
    padding-left: 0; 
  } 
}
@media only screen and (max-width: 767px) {
  .header-area .academy-main-menu .classynav {
    padding-left: 0; 
  } 
}
.header-area .academy-main-menu .calling-info {
  position: relative;
  padding-left: 80px;
  overflow: hidden; 
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .academy-main-menu .calling-info {
    padding-left: 50px; 
  } 
}
.header-area .academy-main-menu .calling-info .call-center {
  position: relative;
  z-index: 1;
  background: rgb(213, 21, 21);
  background: -webkit-linear-gradient(to right, rgb(213, 21, 21), rgb(185, 21, 21));
  background: linear-gradient(to right, rgb(213, 21, 21), rgb(185, 21, 21));
  padding: 0 40px;
  line-height: 85px;
  height: 85px; 
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .academy-main-menu .calling-info .call-center {
    padding: 0 15px 0 30px; 
  } 
}
.header-area .academy-main-menu .calling-info .call-center a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  display: block; 
}
.header-area .academy-main-menu .calling-info .call-center a i {
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  line-height: 41px;
  font-size: 18px;
  text-align: center;
  margin-right: 20px; 
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .academy-main-menu .calling-info .call-center a i {
    margin-right: 10px; 
  } 
}
@media only screen and (max-width: 767px) {
  .header-area .academy-main-menu .calling-info .call-center a span {
    display: none; 
  } 
}
.header-area .academy-main-menu .calling-info .call-center:before {
  position: absolute;
  width: 50px;
  height: 120%;
  top: 3px;
  left: -28px;
  z-index: 1;
  background-color: #d31515;
  content: '';
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg); 
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .academy-main-menu .calling-info .call-center:before { 
  width: 42px; 
  } 
}
.header-area .is-sticky .academy-main-menu {
  position: fixed;
  width: 100%;
  height: 85px;
  top: 0;
  left: 0;
  z-index: 3000;
  background-color: #f5f7fa;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2); 
}
.header-area .is-sticky .academy-main-menu::after {
  position: absolute;
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgb(185, 21, 21)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ;
  content: ''; 
}


.btn.disabled, .btn:disabled {
    opacity: 1;
}

@media only screen and (max-width: 992px) {
  .display-none{
    display: none;
  }
}

a.btn.disabled{
  text-align: start;
}